* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color:#edf0f1;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* MOBILE NAV */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  /* HERO */

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('burgersbanniere.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
}

.top h1{
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 70px;
}
.top h2{
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: lighter;
}

/* MAIN */

.main{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .content .card .classic .right .cheeseburger{
  height: 400px;
  width: 500px;
  margin-top: 5px;
}
.main .content .card .classic .right .cheeseburger:hover{
  filter: blur(3px);
}
.main .content .card .special .left .fishburger{
  height: 400px;
  width: 500px;
  margin-top: 5px;
}
.main .content .card .special .left .fishburger:hover{
  filter: blur(3px);
}

.main .content .card .classic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.main .content .card .special{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.classic .left{
  padding-right: 150px;
}

.special .right{
  padding-left: 50px;
}

.classic .left h1{
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #498aa0;
  padding-left: 80px;
}

.special .right h1{
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #498aa0;
  padding-left: 80px;
}


.classic .left .one, .three, .five, .seven, .nine{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #585858;
  padding-top: 15px;
}
.classic .left .two, .four, .six, .eight, .ten{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #8a8a8a;
}
.special .right .un, .trois, .cinq, .sept, .neuf{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #585858;
  padding-top: 15px;
}
.special .right .deux, .quatre, .six6, .huit, .dix{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #8a8a8a;
}

/* FOOTER */
/*color: #498aa0*/


footer{
  flex-shrink: 0;
  width: 100%;
  background: #24252a;
  color: #fff;
}
.contenu-footer{
  /*width: 1200px;*/
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 25px 0 50px;
}

/* HORAIRES */

.footer-horaires h1{
padding-left: 230px;
color: #498aa0;
padding-bottom: 15px;
}

.table{
border-collapse: collapse;
min-width: 400px;
width: auto;
box-shadow: 0 5px 50px rgba(0,0,0,0,15);
cursor: pointer;
margin: 100px auto;
}
thead tr{
background-color: midnightblue;
color: #FFF;
text-align: left;
}
th, td{
padding: 15px 20px;
}
tbody tr, td, th{
border: 1px solid #ddd;
}

/* CONTACT */

.footer-contact{
padding-left: 100px;
}

.footer-contact h1{
color: #498aa0;
padding-bottom: 15px;
padding-right: 15px;
}
.footer-contact p{
padding-left: 15px;
justify-content: center;
padding-bottom: 5px;
}
.footer-contact .num{
padding-left: 60px;
}

/* LIENS EXTERNES */

.footer-liens{
padding-left: 100px;
}

.footer-liens h1{
color: #498aa0;
padding-bottom: 15px;
}
.footer-liens a{
padding-left: 15px;
justify-content: center;
flex-direction: column;
padding-bottom: 5px;
}